[submodule "external/RLSDK"]
	path = external/RLSDK
	url = https://github.com/smallest-cock/RLSDK.git
	branch = main
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "external/ModUtils"]
	path = external/ModUtils
	url = https://github.com/smallest-cock/ModUtils.git
	branch = main
