[submodule "external/RLSDK"]
	path = external/RLSDK
	url = https://github.com/smallest-cock/RLSDK.git
	branch = main
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "external/ModUtils"]
	path = external/ModUtils
	url = https://github.com/smallest-cock/ModUtils.git
	branch = main
[submodule "external/BakkesmodPluginTemplate"]
	path = external/BakkesmodPluginTemplate
	url = https://github.com/Martinii89/BakkesmodPluginTemplate.git
	branch = master
[submodule "external/BMSDK"]
	path = external/BMSDK
	url = https://github.com/bakkesmodorg/BakkesModSDK.git
	branch = master
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/websocketpp"]
	path = external/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
